{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}" />
{% endblock %}

{% block title %}About{% endblock %}

{% block main %}
<section class="header-section__about">
  <div class="container">
    <h1>Sobre mim</h1>
    <p>Amo criar aplicações com interfaces bonitas</p>
  </div>
</section>

<section class="about-section bg-white">
  <div class="container">
    <div class="about-me lg:flex gap-12 justify-between mb-20 lg:mb-40">
      <h2>- QUEM SOU EU?</h2>
      <p class="flex-1 lg:mt-24">Aqui falo meu nome, idade, tragetória como desenvoldor,
        como conheci a área, onde comecei, onde fiz minha primeira
        formação como técnico, minha experiencia com trabalho(se possuo ou não)
        onde estou agora, etc.</p>
    </div>
    <div class="about-hobby">
      <h2>- MEUS HOBBIES</h2>
      <div class="hobby-cards-wrapper lg:flex gap-12">
        <div class="hobby-card mb-8">
          <h3># JOGOS & E-SPORT</h3>
          <p>Descrição sobre minha experiencia com Jogos e esporte eletrónicos,
            como a industria evoluiu, por que eu gusto disso, etc.</p>
        </div>
        <div class="hobby-card mb-8">
          <h3># ARTE & DESIGN</h3>
          <p>Descrição sobre minha experiencia com Arte e Design, como a industria evoluiu,
            por que eu gusto disso, etc.</p>
        </div>
        <div class="hobby-card">
          <h3># ANIMES</h3>
          <p>Descrição sobre minha experiencia com Animes, como a industria evoluiu, por que eu gusto disso,
            etc. </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="to-be-added">
  <div class="container">
    <h2>Provavel adição de imagens sobre os hobbies, etc (talvez adicionarei mais hobbies no futuro)</h2>
  </div>
</section>
{% endblock %}