{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}" />
{% endblock %}

{% block title %}About{% endblock %}

{% block main %}
<section class="main-section" id="main-section">
  <div class="container">
    <h1>Amo criar interfaces bonitas</h1>
    <p>Eu amo design, programação e jogos.</p>
  </div>
</section>

<section class="about-section bg-white">
  <div class="container">
    <div class="about-me lg:flex gap-12 justify-between mb-20 lg:mb-80">
      <h2 class="flex-1">Quem sou eu?</h2>
      <div class="flex-1">
        <p class="flex-1 lg:mt-40 mb-12">Meu nome é Gustavo Pereira Lemes Molina, tenho 20 anos. Começei minha jornada
          como
          desenvolvedor na ETEC de São Paulo e atualmente estou cursando a Fatec de São José dos Campos em busca da
          minha
          primeira graduação. </p>
        <div class="photo-container"><img src="{{ url_for('static', filename='img/perfil.jpg') }}" alt="foto de perfil">
        </div>
      </div>
    </div>
    <div class="about-hobby">
      <h2>Meus hobbies</h2>
      <div class="hobby-cards-wrapper lg:flex gap-12">
        <div class="hobby-card mb-8">
          <h3># JOGOS & E-SPORT</h3>
          <p>Já nem me lembro quando começei a jogar porém des do momento em que começei nunca mais parei. Em 2014
            entrei em contato com o Counter-Strike: Global Offensive, o primeiro E-Sport que havia jogado até então e a
            primeira vez que tive a esperiência de jogar campeonatos amadores com uma equipe. Atualmente jogo mais
            casualmente e jogos outros jogos, como Forza Horizon 5 e Osu! porém continuo interado no cénario do
            Conter-Strike.</p>
        </div>
        <div class="hobby-card mb-8">
          <h3># ARTE & DESIGN</h3>
          <p>Quando era menor, gostava muito de desenhar os personagens e paisagens, porém fui parando aos poucos quando
            fiquei mais velho. Quando entrei na ETESP descobri o design de interfaces e aquele gosto que possuia por
            desenho evoluiu para o design. Atualmente busco sempre estar interado nos novos custumes e novas maneiras de
            fazer o design de uma interface. </p>
        </div>
        <div class="hobby-card">
          <h3># ANIMES</h3>
          <p>Nas horas vagas gosto mutio de assistir um anime, ler um manga ou ver uma série. A um momento estava muito
            interado com os novos lançamentos mas atualmente só assisto/leio algo que me chama a atenção sem tentar
            muito acompanhar os lançamentos e novidades</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="to-be-added">
</section>
{% endblock %}