<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  {% block head %}
  {% endblock %}

  <title>{% block title %}Base{% endblock %}</title>
</head>

<body>
  <div class="background-wrapper">
  </div>

  <header class="header">
    <div class="container nav-container">
      <a href="{{ url_for('index') }}">
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.601 57">
            <g id="Logo" transform="translate(0.101)">
              <path id="Path_6" data-name="Path 6" d="M-5,0H26.6" transform="translate(7.399 54.5)" fill="none"
                stroke="#07f" stroke-linecap="round" stroke-width="5" />
              <line id="Line_2" data-name="Line 2" x2="33" transform="translate(44 54.5)" fill="none" stroke="#fa0"
                stroke-linecap="round" stroke-width="5" />
              <text id="TM" transform="translate(0 47)" fill="#f5f5f5" font-size="50" font-family="Gotham-Black, Gotham"
                font-weight="800">
                <tspan x="0" y="0">TM</tspan>
              </text>
            </g>
          </svg>
        </div>
      </a>
      <nav class="navbar flex">
        <div class="m-auto flex gap-4 lg:gap-8">
          <a class="nav__link" href="{{ url_for('about') }}">SOBRE</a>
          <a class="nav__link" href="{{ url_for('job') }}">TRABALHOS</a>
          <a class="nav__link" href="{{ url_for('curriculum') }}">CURRÍCULO</a>
        </div>
      </nav>
    </div>
  </header>

  <main class="main">
    {% block main %}
    {% endblock %}
  </main>

  {% block footer %}
  <footer class="footer">
    <div class="section-bg"></div>
    <p>tm.dev.io@gmail.com</p>
    <p>TheMachineDev(GitHub)</p>
  </footer>
  {% endblock %}
</body>
<script src="https://kit.fontawesome.com/45634ba403.js" crossorigin="anonymous"></script>
{% block javascript %}
{% endblock %}

</html>