{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/curriculum.css') }}" />
{% endblock %}

{% block title %}Curriculum{% endblock %}

{% block main %}
<section class="main-section">
  <div class="container">
    <h1>Meu currículo</h1>
    <p>Breve descrição sobre o as habilidades que possuo como desenvolvedor e uma página com mais detalhes e acesso
      ao
      meu currículo</p>
  </div>
</section>

<section class="tragectory-section bg-white bd-radius-bg lg:py-96">
  <div class="container">
    <div class="split">
      <div>
        <h2 class="mb-24">- TRAGETÓRIA CURRICULAR (cada tópico falara um pouco sobre as escolas que passei)</h2>
        <!--<div class="circle"></div>
        <div class="line"></div>-->
      </div>
      <div class="lg:mt-64">
        <p class="mb-12"> Minha tragetória na ETEC SP, como conheci a programação e me graduei como técnico </p>
        <p> Minha tragetória na FATEC SJC, como está indo, como estou dando continuidade a minha carreira como
          desenvolvedor</p>
      </div>
    </div>
  </div>
</section>

<section class="skills-section lg:py-64">
  <div class="container">
    <h2>- TECNOLOGIAS CONHECIDAS</h2>
    <div class="split mb-24">
      <div>
        <h3>DESENVOLVIMENTO WEB </h3>
        <p>CSS3, HTML5, JAVASCRIPT, REACT, FLASK</p>
        <h3>DESIGN </h3>
        <p>PHOTOSHOP, ADOBEXD</p>
      </div>
      <div>
        <h3>DESENVOLVIMENTO BACK-END </h3>
        <p>NODE, PYTHON, C#(.NET)</p>
      </div>
    </div>
    <button class="btn">Ver currículo completo</button>
    <div class="btn-desc">
      <i class="fas fa-arrow-up"></i>
      <p>(leva o cliente a um pdf
        com o currículo completo)</p>
    </div>
  </div>
</section>
{% endblock %}