{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/curriculum.css') }}" />
{% endblock %}

{% block title %}Curriculum{% endblock %}

{% block main %}
<section class="main-section" id="main-section">
  <div class="container">
    <h1>Minhas habilidades</h1>
    <p>Desenvolvedor fullstack e designer com foco em desenvolvimento de aplicações web.</p>
  </div>
</section>

<section class="tragectory-section bg-white bd-radius-bg lg:py-96">
  <div class="container">
    <div class="split">
      <div>
        <h2 class="mb-24">Tragetória curricular</h2>
        <!--<div class="circle"></div>
        <div class="line"></div>-->
      </div>
      <div class="lg:mt-64 xl:flex-1">
        <p class="mb-12 lg:mb-20">
          <b class="block">ETESP - SÃO PAULO, BOM RETIRO</b>
          Técnico em informática integrado ao Ensino médio, 3 anos de curso, aulas de programação front-end e back-end,
          desenvolvimento de projetos (TCM e TCC) sozinho e com equipe.
        </p>
        <p>
          <b class="block">FATEC - SÃO JOSÉ DOS CAMPOS</b>
          Atualmente cursando o primeiro semestre do curso de Desenvolvimento de Software de Multiplataform que promove
          uma gradução (tecnólogo), desenvolvedor fullstack atravéz de projetos integrados que seram desenvolvidos para
          a fatec (1 semestre) e outras empresas do parque tecnológico.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="skills-section lg:py-64">
  <div class="container">
    <h2>Técnologias conhecidas</h2>
    <div class="split mb-24">
      <div>
        <h3>DESENVOLVIMENTO WEB </h3>
        <p>CSS3, HTML5, JAVASCRIPT, REACT, FLASK</p>
        <h3>DESIGN </h3>
        <p>PHOTOSHOP, ADOBEXD</p>
      </div>
      <div>
        <h3>DESENVOLVIMENTO BACK-END </h3>
        <p>NODE, PYTHON, C#(.NET)</p>
      </div>
    </div>
    <button class="btn">Ver currículo completo</button>
  </div>
</section>
{% endblock %}