{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block logo %}
<a href="#main-section">
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.601 57">
      <g id="Logo" transform="translate(0.101)">
        <path id="Path_6" data-name="Path 6" d="M-5,0H26.6" transform="translate(7.399 54.5)" fill="none" stroke="#07f"
          stroke-linecap="round" stroke-width="5" />
        <line id="Line_2" data-name="Line 2" x2="33" transform="translate(44 54.5)" fill="none" stroke="#fa0"
          stroke-linecap="round" stroke-width="5" />
        <text id="TM" transform="translate(0 47)" fill="#f5f5f5" font-size="50" font-family="Gotham-Black, Gotham"
          font-weight="800">
          <tspan x="0" y="0">TM</tspan>
        </text>
      </g>
    </svg>
  </div>
</a>
</a>
{% endblock %}

{% block nav %}
<nav class="navbar flex" id="menu">
  <div class="m-auto flex gap-4 lg:gap-8">
    <a class="nav__link" href="{{ url_for('about') }}">SOBRE</a>
    <a class="nav__link" href="#jobs">TRABALHOS</a>
    <a class="nav__link" href="{{ url_for('curriculum') }}">CURRÍCULO</a>
  </div>
</nav>
{% endblock %}

{% block main %}
<section class="main-section" id="main-section">
  <div class="container">
    <p class="main-subtitle">Olá, sou <b> Gustavo Molina </p>
    <h1 class="section-title main-title">Desenvolvedor Fullstack</h1>
    <a href="#about"><button class="btn btn-custom">Ver mais</button></a>
    <!--<div class="btn-desc">
      <span class="material-icons">
        arrow_upward
      </span>
      <p>(levará o cliente a um form
        de fale conosco)</p>
    </div>-->
    <div class="social">
      <a href="https://dribbble.com/Foot-G"><i class="fab fa-dribbble icon"></i></a>
      <a href="https://www.linkedin.com/in/gustavo-molina-054bb6215/"><i class="fab fa-linkedin icon"></i></a>
      <a href="https://github.com/TheMachineDev"><i class="fab fa-github icon"></i></a>
      <div class="line"></div>
    </div>
  </div>
</section>

<section class="about-section">
  <div class="section-bg"></div>
  <div class="container">
    <div class="split items-center" id="about">
      <div class="svg-container py-16 lg:py-48">
        <svg xmlns="http://www.w3.org/2000/svg" width="674" height="auto" viewBox="0 0 674 681">
          <rect id="Rectangle_65" data-name="Rectangle 65" width="397" height="385" rx="20" fill="#16499d" />
          <rect id="Rectangle_307" data-name="Rectangle 307" width="432" height="450" rx="20"
            transform="translate(242 231)" fill="#09337a" opacity="0.79" />
        </svg>
      </div>
      <div class="flex-1">
        <p class="section-label">sobre mim</p>
        <h2 class="section-title">Amo criar interfaces bonitas</h1>
          <p class="section-paragraph">Eu amo design, programação e jogos.</p>
          <a href="{{ url_for('about')}}"><button class="btn">Ver mais sobre</button></a>
      </div>
    </div>
  </div>
</section>

<section class="job-section job__one" id="jobs">
  <div class="container">
    <div class="split">
      <!-- lg:flex justify-between gap-12 -->
      <div>
        <p class="section-label">portfolio</p>
        <h2 class="section-title">Fatec SJC App</h2>
        <p class="section-paragraph">App para a Fatec SJC feito durante o primeiro semestre do
          curso de Desenvolvimento de Software Multiplataforma.</p>
      </div>
      <div class="">
        <div class="job-spec mt-7">
          <div class="mr-20">
            <p class="project-spec">Design</p>
            <p class="project-tool">AdobeXD</p>
          </div>
          <div>
            <p class="project-spec">Desenvolvido</p>
            <p class="project-tool">Flask</p>
          </div>
        </div>
        <a href="{{ url_for('job')}}"><button class="btn btn-white">Ver projeto</button></a>
      </div>
    </div>
    <div class="img-wrapper max-w-xs sm:max-w-none m-auto">
      <div class="sm:flex gap-12">
        <div><img src="{{ url_for('static', filename='img/m-index.png') }}" alt="layout mobile do informativos"></div>
        <div><img src="{{ url_for('static', filename='img/d-index.png') }}" alt="layout desktop do informativos"></div>
      </div>
      <div class="sm:flex flex-row-reverse gap-12">
        <div><img src="{{ url_for('static', filename='img/m-edit.png') }}" alt="layout mobile do editar"></div>
        <div><img src="{{ url_for('static', filename='img/d-edit.png') }}" alt="layout desktop do editar"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Outros projetos seram adicionados futuramente</h2>
  </div>
</section>
<div class="container">
  <div class="line"></div>
</div>
<section class="curriculum-section">
  <div class="container">
    <div class="split">
      <div class="flex-1">
        <p class="section-label">curriculo</p>
        <h2 class="section-title">Minhas habilidades</h2>
        <p class="section-paragraph">Desenvolvedor fullstack e designer com foco em desenvolvimento de aplicações web.
        </p>
        <a href="{{ url_for('curriculum')}}"><button class="btn mb-28 lg:mb-0">Veja meu currículo</button></a>
      </div>
      <div class="flex-1 self-center">
        <div class="main-carousel" id="carousel" data-flickity='{ "wrapAround": true }'>
          <div class="card carousel-cell">
            <i class="fas fa-laptop-code card--icon"></i>
            <h3>Web Developer
            </h3>
            <p>Criação de websites responsivos com frameworks como flask e react</p>
          </div>
          <div class="card carousel-cell">
            <i class="fas fa-layer-group card--icon"></i>
            <h3>Designer</h3>
            <p>Design de interface e prototipagem com o AdobeXD</p>
          </div>
          <div class="card carousel-cell">
            <i class="fas fa-server card--icon"></i>
            <h3>Back-end dev</h3>
            <p>Criação de APIs backend com Node, Flask, PostgreSQL.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}