{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/job.css') }}" />
{% endblock %}

{% block title %}Curriculum{% endblock %}

{% block main %}
<section class="main-section__job">
  <div class="container">
    <h1 class="main-title">Nome do projeto</h1>
    <p>Subtítulo do projeto</p>
  </div>
</section>

<section class="bg-primary py-64 lg:py-96 img-section">
  <div class="container">
    <h2 class="text-center">IMAGEM DO PROJETO</h2>
  </div>
</section>

<section class="prod-section bg-white py-64">
  <div class="container">
    <div class="split">
      <div class="mb-10">
        <h2>Visão geral</h2>
        <p>Descrição geral sobre o projeto, o que ele faz, por que foi feito, seu objetivo, etc e o que eu fiz nesse
          projeto.</p>
      </div>
      <div>
        <h3>CLIENTE</h3>
        <p class="mb-6">Nome do cliente</p>
        <h3>SERVIÇOS PROVIDOS</h3>
        <p>Ex:Desenvolvimento Front-End Design UI e UX</p>
      </div>
    </div>
  </div>
</section>

<section class="section to-be-added">
  <div class="container">
    <h2>Provavel detalhamento do projeto e adição de outras imagens</h2>
  </div>
</section>
{% endblock %}