

/* section 1 */

.header-section__about h1{
  font-size: var(--fs-xl);
}

h2{
  font-size: var(--fs-600);
}

/* section 2 */

.about-section{
  color: var(--clr-neutral-1000);
  padding: 20rem 0;
  border-radius: 0 var(--border-radius-bg);
  position: initial;
}



.hobby-card{
  flex: 1 1 0;
  font-size: .8em;
}

.hobby-card p{
  font-size: var(--fs-300);
}


/* section 3 */

