@import url('variables.css');

body{
  background-color: var(--main-bg-color);
}

/* section 1 */

.my-curriculum{
  margin: auto;
}

.my-curriculum h1{
  font-size: 4em;
}

.my-curriculum p{
  width: 600px;
}

/* section 2 */

.midle-tragectory{
  height: auto;
  background-color: var(--primary-font-color);
}

.left-about-me h1{
  font-size: 2em;
}

.circle{
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: black;
}

.right-about-me{
  padding-top: 200px;
  padding-bottom: 300px;
}

.right-about-me p{
  margin-top: 100px;
}

.skills{
  height: 1200px;
}

/* section 3 */

.skills-section{
  height: auto;
  padding-top: 300px;
  padding-bottom: 300px;
}

.skills-section h1{
  font-size: 2em;
  margin-bottom: 60px;
}

.skills-section p{
  margin-bottom: 50px;
}

.flex-them{
  display: flex;
}

.left-skills, .right-skills{
  flex: 1 1 0;
}

.left-skills > .btn{
  margin-top: 50px;
}

.btn-desc{
  margin-top: 20px;
  width: 200px;
}

.btn-desc p{
  font-size: .7em;
}