/* section 2 */
@media (min-width:64rem) {
  :root{
    --fs-600: 3.25rem;
  }
}

/* section 3 */
.skills-section h2{
  margin-bottom: 4rem;
  font-size: var(--fs-600);
}

.skills-section p{
  margin-bottom: 3rem;
}

.btn-desc{
  margin-top: 20px;
  width: 200px;
}

.btn-desc p{
  font-size: 1rem;
}