/* section 1 */
.main-section__job h1{
  max-width: none;
}

/* section 2 */
.img-section{
  border-radius: 0 var(--border-radius-bg) var(--border-radius-bg) 0;
  z-index: -1;
  position: relative;
}


/* section 3 */
.prod-section{
  margin-top: -5rem;
  z-index: -3;
  position: relative;
  border-radius: 0 0 0 var(--border-radius-bg);
}


