<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/about.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>About</title>
</head>

<body>
  <div class="navbar">
    <a href="../index.html">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.601 57">
          <g id="Logo" transform="translate(0.101)">
            <path id="Path_6" data-name="Path 6" d="M-5,0H26.6" transform="translate(7.399 54.5)" fill="none"
              stroke="#07f" stroke-linecap="round" stroke-width="5" />
            <line id="Line_2" data-name="Line 2" x2="33" transform="translate(44 54.5)" fill="none" stroke="#fa0"
              stroke-linecap="round" stroke-width="5" />
            <text id="TM" transform="translate(0 47)" fill="#f5f5f5" font-size="50" font-family="Gotham-Black, Gotham"
              font-weight="800">
              <tspan x="0" y="0">TM</tspan>
            </text>
          </g>
        </svg>
      </div>
    </a>
    <div class="menu-items">
      <a href="about.html">
        <p class="menu-item">SOBRE</p>
      </a>
      <a href="job.html">
        <p class="menu-item">TRABALHOS</p>
      </a>
      <a href="curriculum.html">
        <p class="menu-item">CURRÍCULO</p>
      </a>
    </div>
  </div>

  <section class="section primary-about">
    <div class="photo-wrapper left-img">
      <span class="material-icons">
        account_circle
      </span>
      <h2>FOTO DE PERFIL</h2>
      <p>foto que terá efeitos de filtro e redimensionamento</p>
    </div>
    <div class="about about-desc">
      <div class="about-wrapper">
        <h1 class="section-title about-title">SOBRE MIM</h1>
        <p class="about-content">Aqui conterá uma breve introdução sobre mim e sobre meus hobbies</p>
        <button class="btn btn-style-1">Ver mais sobre</button>
      </div>
    </div>
  </section>

  <section class="section midle-about">
    <div class="about-me">
      <div class="section-wrapper about-me-wrapper">
        <div class="left-about-me">
          <h1>- QUEM SOU EU?</h1>
        </div>
        <div class="right-about-me">
          <p>Aqui falo meu nome, idade, tragetória como desenvoldor,
            como conheci a área, onde comecei, onde fiz minha primeira
            formação como técnico, minha experiencia com trabalho(se possuo ou não)
            onde estou agora, etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur arcu nulla, feugiat et vestibulum a, scelerisque in felis. Morbi ullamcorper hendrerit Curabitur
            efficitur.
            Vestibulum imperdiet mi turpis, sit amet malesuada velit lacinia condimentum.
            Curabitur fringilla enim et quam tristique, ut ultrices sem aliquam.
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut posuere,
            justo vel dapibus aliquam, ligula massa fermentum ligula, eu aliquet
            nulla orci nec turpis. Nullam commodo dictum dui ac elementum. Etiam
            pretium vestibulum mauris, id gravida nisi convallis at. Sed luctus
            volutpat est, id fermentum nisi </p>
        </div>
      </div>
    </div>
    <div class="about-hobby">
      <div class="section-wrapper about-hobby-wrapper">
        <h1 class="about-hobby-title">- MEUS HOBBIES</h1>
        <div class="hobby-cards-wrapper">
          <div class="hobby-card">
            <h2># JOGOS & E-SPORT</h2>
            <p>Descrição sobre minha experiencia com Jogos e esporte eletrónicos,
              como a industria evoluiu, por que eu gusto disso, etc. Lorem ipsum
              dolor sit amet, consectetur adipiscing elit. </p>
          </div>
          <div class="hobby-card">
            <h2># ARTE & DESIGN</h2>
            <p>Descrição sobre minha experiencia com Arte e Design, como a industria evoluiu,
              por que eu gusto disso, etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Curabitur arcu nulla, </p>
          </div>
          <div class="hobby-card">
            <h2># ANIMES</h2>
            <p>Descrição sobre minha experiencia com Animes, como a industria evoluiu, por que eu gusto disso,
              etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur arcu nulla, </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="section to-be-added">
    <h1>Provavel adição de imagens sobre os hobbies, etc (provavelmente adicionarei mais hobbies no futuro)</h1>
  </section>

  <footer class="section footer-section">
    <p>tm.dev.io@gmail.com e outras informações pertinentes ao contado</p>
  </footer>


</body>

</html>