<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/about.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/curriculum.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="navbar">
    <a href="../index.html">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79.601 57">
          <g id="Logo" transform="translate(0.101)">
            <path id="Path_6" data-name="Path 6" d="M-5,0H26.6" transform="translate(7.399 54.5)" fill="none"
              stroke="#07f" stroke-linecap="round" stroke-width="5" />
            <line id="Line_2" data-name="Line 2" x2="33" transform="translate(44 54.5)" fill="none" stroke="#fa0"
              stroke-linecap="round" stroke-width="5" />
            <text id="TM" transform="translate(0 47)" fill="#f5f5f5" font-size="50" font-family="Gotham-Black, Gotham"
              font-weight="800">
              <tspan x="0" y="0">TM</tspan>
            </text>
          </g>
        </svg>
      </div>
    </a>
    <div class="menu-items">
      <a href="about.html">
        <p class="menu-item">SOBRE</p>
      </a>
      <a href="job.html">
        <p class="menu-item">TRABALHOS</p>
      </a>
      <a href="curriculum.html">
        <p class="menu-item">CURRÍCULO</p>
      </a>
    </div>
  </div>

  <section class="section">
    <div class="section-wrapper my-curriculum">
      <h1>MEU CURRÍCULO</h1>
      <p>Breve descrição sobre o as habilidades que possuo como desenvolvedor e uma página com mais detalhes e acesso
        ao
        meu currículo</p>
    </div>
  </section>

  <section class="section midle-about midle-tragectory">
    <div class="about-me">
      <div class="section-wrapper about-me-wrapper">
        <div class="left-about-me">
          <h1>- TRAGETÓRIA CURRICULAR (cada tópico falara um pouco sobre as escolas que passei)</h1>
          <!--<div class="circle"></div>
          <div class="line"></div>-->
        </div>
        <div class="right-about-me">
          <p> consectetur purus viverra sit amet. Duis vel leo maximus, rhoncus felis vel, consectetur metus. Sed
            molestie massa sodales ornare ullamcorper. Mauris ut ante nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Pellentesque nec luctus urna. Fusce dictum magna non facilisis venenatis. Maecenas
            porttitor tortor in lectus porta, non vulputate libero gravida. Nullam libero sem, suscipit sit amet laoreet
            eget, </p>
          <p> consectetur purus viverra sit amet. Duis vel leo maximus, rhoncus felis vel, consectetur metus. Sed
            molestie massa sodales ornare ullamcorper. Mauris ut ante nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Pellentesque nec luctus urna. Fusce dictum magna non facilisis venenatis. Maecenas
            porttitor tortor in lectus porta, non vulputate libero gravida. Nullam libero sem, suscipit sit amet laoreet
            eget, </p>
          <p> consectetur purus viverra sit amet. Duis vel leo maximus, rhoncus felis vel, consectetur metus. Sed
            molestie massa sodales ornare ullamcorper. Mauris ut ante nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Pellentesque nec luctus urna. Fusce dictum magna non facilisis venenatis. Maecenas
            porttitor tortor in lectus porta, non vulputate libero gravida. Nullam libero sem, suscipit sit amet laoreet
            eget, </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section skills-section">
    <div class="section-wrapper skills-wrapper">
      <h1>- TECNOLOGIAS CONHECIDAS</h1>
      <div class="flex-them">
        <div class="left-skills">
          <h2>DESENVOLVIMENTO WEB </h2>
          <p>CSS3, HTML5, JAVASCRIPT, REACT, FLASK</p>
          <h2>DESIGN </h2>
          <p>PHOTOSHOP, ADOBEXD</p>
          <button class="btn">Ver currículo completo</button>
          <div class="btn-desc">
            <span class="material-icons">
              arrow_upward
            </span>
            <p>(leva o cliente a um pdf
              com o currículo completo)</p>
          </div>


        </div>
        <div class="right-skills">
          <h2>DESENVOLVIMENTO BACK-END </h2>
          <p>NODE, PYTHON, C#(.NET)</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="section footer-section">
    <p>tm.dev.io@gmail.com e outras informações pertinentes ao contado</p>
  </footer>
</body>

</html>